.category-route-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px; 
}
.category-title {
    text-align: center;
    font-size: 38px;
    margin: 0 auto 30px;
}